/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap');

:root {
  --green-light: rgb(9, 219, 121, 0.2);
  --green: rgb(9, 219, 121);
  --green-hover: rgb(6, 176, 105);
  --blue-light: rgb(1, 126, 255, 0.2);
  --blue: rgb(1, 126, 255);
  --blue-hover: rgb(10, 100, 190);
  --pale-blue: #a5c5e6;
  --light-blue: #60aeff;
  --red-light: rgb(219, 25, 41, 0.2);
  --red: #db1929;
  --red-hover: #a51420;
  --dark: #252837;
  --darker: #1e1c2a;
  --mid: #eee;
  --secondary-light: rgb(254, 130, 53, 0.3);
  --secondary: #fe8235;
  --secondary-clicked: #e15323;
  --tertiary: rgb(242, 1, 255);
  --tertiary-light: rgb(255, 1, 234, 0.2);
  --light: rgb(150, 160, 170);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  /* eslint-disable-next-line */
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
}

@media (prefers-color-scheme: dark) {
}

span.em {
  font-weight: 700;
}

#nprogress .bar {
  background: var(--secondary-clicked) !important;
  height: 3px !important;
}

.application-form {
  width: 100%;
  margin: auto;
  max-width: 1024px;
  padding: 2rem 0rem;
}

.application-form div {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'inherit';
  outline-color: #fff !important;
  border-color: #fff !important;
}

.application-form div label {
  font-family: 'Public sans';
  color: #fff;
}

.application-form div input {
  width: 100%;
  font-family: 'Public sans';
  color: #fff;
}

.input-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 996px) {
  .input-group {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    gap: 0.75rem;
  }
}

.transaction-icon {
  padding: 0.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction-icon.withdraw {
  color: var(--secondary);
  background: var(--secondary-light);
}

.transaction-icon.deposit {
  color: var(--green);
  background: var(--green-light);
}

.transaction-icon.loan {
  color: var(--blue);
  background: var(--blue-light);
}

button {
  text-transform: capitalize !important;
  font-weight: 500 !important;
}

.styled-input {
  width: 100%;
  font-family: 'Public sans' sans-serif;
  font-size: 17px !important;
  font-weight: 300;
  padding: 1.25rem 1rem;
  border-radius: 8px;
  background: inherit;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  max-width: 600px;
  display: block;
  margin: auto;
  margin-bottom: 8px;
}

label {
  display: block;
  margin: 12px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid var(--dark);
  box-shadow: 2px 1px 8px var(--darker);
}

th,
td {
  text-align: left;
  padding: 16px 14px;
}

table tr th {
  font-size: 14px;
  text-transform: uppercase;
}

table tr td {
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid var(--dark);
}

#table-head-row {
  background: var(--dark);
}

#table-container {
  overflow-x: auto;
}

/* Capitec Styles */

.hidden-xs {
  display: none;
}

.capitec-button {
  border: 1px solid #526065 !important;
  color: #f8f8ff !important;
  background: #526065 !important;
  outline: none !important;
  padding: 7px 15px !important;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hidden-xs {
    display: block;
  }
}

.standard-bank-page {
  background: linear-gradient(180deg, #0037a7, #0089ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 2rem;
}

.standard-bank-form {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  background: #fff;
  padding: 24px 24px 32px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standard-bank-form div {
  width: 100%;
  margin-top: 1rem;
}

.standard-bank-form label {
  margin: 0;
  font-size: 14px;
}

.standard-bank-form label,
input {
  display: block;
  width: 100%;
}

.standard-bank-form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 8px 2px;
}

.standard-bank-form button {
  background: #0037a7;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  margin-top: 2rem;
}

.standard-bank-form button:disabled {
  cursor: default;
  background: var(--pale-blue);
  color: #333;
}

.fnb-form input {
  outline: none;
  border: none;
  border: 1px solid #ddd;
  padding: 12px;
  background: #f6f6f6;
  border-radius: 8px;
  font-size: 15px;
}

.fnb-form button {
  background: #f4791f;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 32px;
  margin-top: 2rem;
}

.fnb-form button:disabled {
  cursor: default;
  background: var(--secondary-light);
  color: #333;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
  transition: 0.5s ease-in;
}

.btn {
  @apply text-sm px-6 py-3 cursor-pointer font-medium duration-500 hover:scale-x-[99%] text-center rounded-full;
}

.btn:disabled {
  @apply cursor-not-allowed;
}

.padding {
  @apply p-4 sm:px-8 lg:px-16 xl:px-24;
}

input:disabled {
  @apply text-gray-400;
}

.overlay {
  position: relative;
}

.overlay * {
  z-index: 30;
}

.overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.navbar-open {
  transform: translateY(0);
}

.navbar-close {
  transform: translateY(-150%);
}

.products-hero-section {
  /* background: #111827; */
  background: linear-gradient(120deg, #008533 0%, #006341 100%);
}

.service-1 {
  background: linear-gradient(rgba(9, 22, 29, 0.75), rgba(9, 22, 29, 0.75)),
    url('../assets/services-1.jpg') no-repeat center center/cover;
  /* background: #a0082e; */
}

.pattern-bg {
  background: url('../public/bg_pattern1.png') 100% 100%;
}
.top-most {
  z-index: 100 !important;
}
